@inherits NancyRazorViewBase<GetAccountResponse>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Ichnaea.Demo - Account @Model.Id</title>
	</head>

	<body>
		To be implemented...
	</body>
</html>
