@inherits NancyRazorViewBase<IncompleteOpenAccountResponse>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Ichnaea.Demo - Open Account</title>
	</head>

	<body>
		<form method="POST" action="@Model.OpenAccountUri">
			<fieldset>
				<legend>Bank Account Details</legend>
				<div>
					<label for="SortCode">Sort Code:</label>
					<input type="text" maxlength="8" required="" name="SortCode" />
				</div>
				<div>
					<label for="AccountNumber">Account Number:</label>
					<input type="text" maxlength="8" required="" name="AccountNumber" />
				</div>
				<div>
					<label for="Holder">Name of Account Holder:</label>
					<input type="text" maxlength="8" required="" name="Holder" />
				</div>
			</fieldset>
			<button type="submit">Open Account</button>
		</form>
	</body>
</html>
