@inherits NancyRazorViewBase<IncompleteOpenAccountResponse>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Ichnaea.Demo - Open Account</title>
	</head>

	<body>
		<form>
			Get Sort Code, Account Number and Holder...
		</form>
	</body>
</html>
