<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoTest.Exceptions" version="1.0.7.50" targetFramework="net45" />
  <package id="FluentAssertions" version="4.0.1" targetFramework="net45" />
  <package id="NEventStore" version="5.2.0" targetFramework="net45" />
  <package id="NSubstitute" version="1.9.2.0" targetFramework="net45" />
  <package id="xunit" version="1.9.2" allowedVersions="[1.9.2,2)" targetFramework="net45" />
  <package id="xunit.extensions" allowedVersions="[1.9.2,2)" version="1.9.2" targetFramework="net45" />
</packages>