@inherits NancyRazorViewBase<IndexResponse>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Ichnaea.Demo - Home</title>
	</head>

	<body>
		<p>
			An example of using Ichnaea to track Aggregates in a Domain Driven Design application.
		</p>
		<p>
			Click <a href="@Model.GetAllAccountsUri">here</a> to list all Accounts.
		</p>
	</body>
</html>
